* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(27, 38, 49);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 2rem;
  padding: 10px;
}
h1 {
  color: aliceblue;
}
.grid-item {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem white;
  overflow: hidden;
  display: flex;
  width: min-content;
  font-size: 0.8rem;
  justify-content: center;
}
