* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(27, 38, 49);
}

section {
  min-height: 10vh;
  padding: 4rem 9% 2rem;
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  color: wheat;
  width: 100%;
  padding: 2rem 9%;
  background: rgba(27, 38, 49);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 2.5rem;
  color: wheat;
  font-weight: 600;
  cursor: default;
}

.navbar a {
  font-size: 1.7rem;
  color: wheat;
  margin-left: 4rem;
}

.navbar a:hover,
.navbar a.active {
  color: white;
}

form {
  display: inline;
}

.search {
  font-size: 1rem;
  margin-left: 4rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 2rem;
  padding: 10px;
}
h1 {
  color: aliceblue;
}

.grid-item {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem white;
  overflow: hidden;
  display: flex;
  width: min-content;
  font-size: 0.8rem;
  height: 20rem;
  justify-content: center;
  margin: 1.5rem;
}

.grid-item img {
  max-width: 15rem;
}

.details {
  margin-top: -0.8rem;
  margin-left: 1.5rem;
  color: wheat;
}

.details h3 {
  width: 12em; /* the element needs a fixed width (in px, em, %, etc) */
  overflow: hidden; /* make sure it hides the content that overflows */
  white-space: nowrap; /* don't break the line */
  text-overflow: ellipsis;
}
